@tailwind base;
@tailwind components;
@tailwind utilities;  

body{
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 7px; 
  height: 2px; 
}

::-webkit-scrollbar-thumb {
  background-color: rgb(204, 13, 13); /* You can set your desired color */
  border-radius: 4px; /* Optional: Adds rounded corners to the thumb */
}

/* Change the color of the scrollbar track (the area not covered by the thumb) */
::-webkit-scrollbar-track {
  background-color: black; /* You can set your desired color */
}

/* Optional: Adds a box shadow to the scrollbar thumb */
::-webkit-scrollbar-thumb:hover {
  background-color: #2980b9; /* Change the hover color as needed */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6); /* Adjust the box shadow as needed */
}
